@{
    ViewData["Title"] = "Home Page";
}

<div class="border border-2 p-3 text-center">
    <form id="upload-form">
        <input type="file" class="form-control" id="file-select" />
        <br />
        <input type="submit" class="btn btn-primary mr-2" value="Yükle" />
        <input type="button" id="reset-button" class="btn btn-secondary" value="Temizle" />
    </form>
</div>

<div class="border border-2 m-3" style="height: 900px;">
    <iframe src="about:blank" id="pdf-view" frameborder="0" class="w-100 h-100"></iframe>
</div>